#root {
  min-width: 100vw;
  display: flex;
}

input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 4px;
}

textarea {
  font-family: inherit;
  padding: 4px;
  font-size: 1.2rem;
}

button {
  border: 1px solid var(--title);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 8px;
}

.App {
  display: flex;
  min-width: 100vw;
  padding: 16px;
  gap: 8px;
}

.Input {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.Preview {
  flex: 2;
  padding: 16px;
}

.Body {
  display: flex;
  padding: 24px;
}

.Body .Left,
.Body .Right {
  flex: 1;
  padding: 0px 40px;
}

/* fullname */

.Preview .fullname {
  color: var(--title);
  display: flex;
  justify-content: center;
  align-content: center;
}

.Input .fullname {
  display: flex;
  gap: 8px;
}

.input-fields {
  display: flex;
  flex-direction: column;
}

/* profession */

.Preview .profession {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--title);
  padding-bottom: 16px;
}

.Preview .profession h2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 200;
}

/* about */

.Preview .about {
  border-bottom: 1px solid var(--title);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

.Input .about {
  padding: 8px 0px;
}

.Input .about input {
  width: 100%;
  min-height: 150px;
}

.Preview .about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: fill;
  padding: 8px;
}

/* contact & skills */
.Preview .contact {
  border-bottom: 1px solid var(--title);
}

.Preview .contact,
.Preview .skills {
  padding: 32px 0px;
}

.contact ul,
.skills ul {
  list-style: none;
  padding-left: 16px;
}

.Input .skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li {
  padding: 8px 0px;
  position: relative;
}

li::before {
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 15px;
  left: -15px;
}

.Preview .each-skill {
  display: flex;
  align-items: center;
}

.Preview .each-skill button {
  padding: 4px 8px;
  margin: 0px 4px;
  border: 1px solid gray;
  color: gray;
}

.Preview .each-skill button:hover {
  border: 1px solid var(--title);
  color: var(--title);
}

/* education */

.Preview .each-education {
  padding: 16px 0px;
  position: relative;
}

.top-field {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  gap: 8px;
}

.Preview .education h2 {
  text-align: center;
  padding: 4px 0px;
}

.Preview .education p {
  display: flex;
}

.Preview .education span {
  margin-left: auto;
}

.Preview .each-education button {
  position: absolute;
  right: -50px;
  top: 16px;
  margin: 0px;
  padding: 4px 8px;
  border: 1px solid gray;
  color: gray;
  transition: all 0.2s ease-in;
}

.Preview .each-education button:hover {
  border: 1px solid var(--title);
  color: var(--title);
}

/* experience */

.Preview .experience {
  padding: 24px 0px;
}

.Preview .experience h2 {
  text-align: center;
  padding: 4px 0px;
}

.Preview .exp-header div {
  display: flex;
}

.Preview .exp-header span {
  margin-left: auto;
}

.Preview .experience h4 {
  padding: 8px 0px;
}

.Preview .each-experience {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
}

.Preview .experience-info {
  display: flex;
  flex-direction: column;
}

.exp-header {
  display: flex;
}

.Preview .each-experience button {
  position: absolute;
  right: -50px;
  top: 16px;
  margin: 0px;
  padding: 4px 8px;
  border: 1px solid gray;
  color: gray;
  transition: all 0.2s ease-in;
}

.Preview .each-experience button:hover {
  border: 1px solid var(--title);
  color: var(--title);
}

@media (max-width: 1200px) {
  .App {
    flex-direction: column;
  }

  .Preview {
    max-width: 100vw;
    overflow: hidden;
  }

  .Preview .fullname {
    width: 90vw;
  }

  .Preview .Body {
    gap: 24px;
  }

  .Preview .Left,
  .Preview .Right {
    padding: 0px;
  }

  .Preview .each-education p {
    display: flex;
    flex-direction: column-reverse;
  }

  .Preview .each-education span {
    margin: 0;
  }

  .Preview .each-education button {
    right: -20px;
  }

  .Preview .each-experience .exp-header {
    flex-direction: column-reverse;
  }

  .Preview .each-experience .exp-header span {
    margin: 0;
  }

  .Preview .each-experience button {
    right: -20px;
  }
}
